---
import quillIcon from '../icons/quill-pen.svg?raw';
const { note, url } = Astro.props;
---

<div class={`w-[210px] h-[297px] p-4 rounded-2xl flex flex-col gap-4 justify-between`} style=`background-image: linear-gradient(${note.color[1]}, ${note.color[0]})`>
    <Fragment set:html={quillIcon} />
    <div style=`color:${note.textColor}`>
        <h3 class="text-lg font-bold text-center"><a href={url}>{note.title}</a></h3>
        <p class="text-sm mt-4 text-center">{note.author}</p>
    </div>
</div>

<style define:vars={{color: note.textColor}}>
    div {
        svg {
            fill: var(--color);
            opacity: .7;
        }
    }
</style>
