---
import Image from "./Image"
// import Button from "./Button.astro"
import codeIcon from "../icons/code.svg?raw"
import linkIcon from "../icons/link.svg?raw"
import Link from "./Link.astro"
const { project } = Astro.props
---

<div class="flex flex-wrap gap-6 items-start">
    <Image client:load imageSet={project.image} />
    <div class="w-96 grow">
        <header class="mb-4 flex gap-4 items-center">
            <h3 class="grow text-2xl">{project.title}</h3>
            <span class={`${!project.status && 'hidden'} text-sm text-gray-500 mr-3`}>{project?.status}</span>
        </header>
        <p class="pb-6">{project.description}</p>
        <div class="flex gap-4 flex-wrap">
            <!-- <Button type="outlined">
                Read more
            </Button> -->
            <div class={`${!project?.links && 'hidden'} grow flex gap-4 flex-wrap justify-end`} >
                {project?.links?.site &&
                <Link href={project.links.site} appearance="text" iconPosition="leading">
                    <Fragment set:html={linkIcon} />
                    Ver proyecto
                </Link>
                }
                {project?.links?.code &&
                <Link href={project.links.code} appearance="text" iconPosition="leading">
                    <Fragment set:html={codeIcon} />
                    Ver código
                </Link>}
            </div>
        </div>
    </div>
</div>
